*{
    margin:0;
    padding:0;
}
body{
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height:1.6;
}
.wrapper{
/*    border:solid;               */                                                  
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.left-side{
/*    border:solid;                                 */                                                                                            
    background-image:url("phone.png");
    background-size: cover;
    width: 400px;
    height:550px;
}
.left-side img{
    position: relative;
    left: 130px;
    top:75px;
    width: 220px;
    height: 398px;
}
.right-side{
/*    border:solid;        */                                                   
    padding:20px;
    width:38%;
    margin-left:20px;
}
section{
    border:solid 0.1px;                       
    padding:20px;
}
a{
    text-decoration:none;
}
.button-login{
    border:1px solid #333333;
    background-color:#0000ff;
    text-align:center;
    opacity:0.6;
    color:#ffffff;
    width: 250px;
}
header{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
}
.name, input{
    padding:5px 10px;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:5px;
}
.password, input{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:5px;
}
.name input , .password input{
    width: 250px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
aside{
    text-align:right;
    margin-top:10px;
}
.sign-up{
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.grid-2, .grid-pic{
    width:225px;
    height:60px;
}
.grid-2{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap:20px;
    border:none;
    width:38%;
}